<!DOCTYPE html>
<html>
<head>
	<title>Personal Biodata</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
</head>
<body>
	<!-- Header -->
	 <header class="showcase">
	    <div class="content">
	      <img src="./pp.jpg" class="logo" alt="Hizkia siallagan">
	      <div class="title">
	        <strong>Hizkia siallagan</strong>
	      </div>
	      <div class="text">
	        Web Developer
	      </div>
	    </div>
	  </header>

	  <!-- About -->
	  <section class="about bg-light">
	    <div class="container">
	      <div class="grid-1">
	        <div class="center">
	          <i class="far fa-address-card fa-6x"></i>
		        <div>
		          <h3>About Us</h3>
		          <p>
		          	<img src="img/about-us.png">
		          </p>
		        </div>
		    </div>
	      </div>
	    </div>
	  </section>

	  <!-- Services -->
	  <section class="services">
	    <div class="container grid-2 center">
	      <div>
	        <i class="fab fa-whatsapp fa-3x"></i>
	        <h3>WhatsApp</h3>
	        <p>+6282175733644</p>
	      </div>
	      <div>
	        <i class="fab fa-instagram fa-3x"></i>
	        <h3>Instagram</h3>
	        <p>@hizkia001</p>
	      </div>
	    </div>
	    <div class="container grid-2 center">
	    	<div>
		        <i class="fab fa-github fa-3x"></i>
		        <h3>Repositori</h3>
		        <p>https://github.com/volthz001</p>
		    </div>
		    <div>
		    	<i class="far fa-envelope fa-3x"></i>
		       	<h3>Email</h3>
		       	<p>hizkiasiallagan004@gmail.com <br>
		       	</p>
		    </div>
	    </div>
	  </section>

	  <!-- Footer -->
	  <footer class="center bg-dark">
	    <p>Curriculum Vitae &copy;2019</p>
	  </footer